.text-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-image: url("../../image/paul-gilmore-ysA6qL8j-OI-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;

  .text-box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin: 85px 0px;
    background-color: white;

    .text-title {
      font-size: 10px;
      padding: 10px;
    }
    .text-description {
      height: 408px;
      width: 500px;
      border: none;
    }
    .text-date {
      font-size: 10px;
      padding: 10px;
    }
    button {
      background-color: lightblue;
      border: none;
      cursor: pointer;
    }
  }
}
