.main-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  z-index: 1;
  background-image: url("../../image/paul-gilmore-ysA6qL8j-OI-unsplash.jpg");
  background-size: cover;
  background-position: center;

  .content-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    background-color: lightblue;
    padding: 20px;
    .gridbox-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 85vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
