.main-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;

  .content-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    height: 100%;

    .gridbox-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
}
