.main-container {
  background-color: green;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 3000px;

  .content-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: hotpink;
    height: 100%;

    .gridbox-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      .box1 {
        background-color: red;
        width: 300px;
        height: 300px;
      }
    }
  }
}
